/** Default Style **/
.w360center {
	width: 100%;
	max-width: 453px;
	margin: 0 auto;
	margin-bottom: 4rem;
}

#myAuth footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #323232;
	color: white;
}

.table-hover tbody tr:hover {
	cursor: pointer;
}

/** Dashboard Style **/
#listRecView .btn-sm, 
#listRecView2 .btn-sm {
	padding: .25rem!important;
}

#myDashB .alert {
	padding-top: 6px;
	padding-bottom: 0;
}

#myDashB .alert-dismissible .close {
	padding: 4px;
}
/** Dashboard Style **/